body {
    margin: 0;
    padding: 0;
    background-image: url('../images/stars-1845140_1280.jpg');
    background-size: 100%;
}

.pluto{
    height: 800px;
    width: 800px;
    background-image: url('../images/pluto-8236209_1280.png');
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    filter: drop-shadow(2px 4px 50px #bfa16f); 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}