body {
    margin: 0;
    padding: 0;
    background-image: url('../images/stars-1845140_1280.jpg');
    background-size: 100%;
}

.venus{
    height: 800px;
    width: 800px;
    background-image: url('../images/venus-151142_1280.png');
    background-size: cover;
    border-radius: 100%;
    position: absolute;
    filter: drop-shadow(2px 4px 50px #c1aa81); 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}